In [46]:
import pandas as pd

In [47]:
data = pd.read_csv('../DATA/PartsRecommendation.csv')

In [48]:
data.head()

,INVOICE_ID,INVOICE_DATE,PART_NUMBER,SERVICE,PART_NAME,SALES_MODEL
0,U370/9670114009-3350006692,2020-06-17,5O7126,Drivetrain-Brakes-Rebuild,Screen Filters,289Y
1,M060/M060-3073812939,2020-04-30,3N6968,Drivetrain-Brakes-Rebuild,Gaskets,289Y
2,U370/9670558168-3300504198,2021-07-20,1U0931,Drivetrain-Brakes-Rebuild,"Seals, Gaskets, and O-Rings",289Y
3,W700/CTS33550363,2020-08-14,0L0181,Drivetrain-Axle-Rebuild,Bolts and Screws,488V
4,C090/7F87195,2022-04-30,30K3389,Engine-Injector Group-Rebuild,NaN,W70M

In [49]:
data.describe()

,INVOICE_ID,INVOICE_DATE,PART_NUMBER,SERVICE,PART_NAME,SALES_MODEL
count,94627,94627,94627,94627,93603,94627
unique,21407,1549,3224,8,190,8
top,W180/LJY0944951,2022-12-29,7379849,Drivetrain-Brakes-Rebuild,"Seals, Gaskets, and O-Rings",289Y
freq,559,723,4095,52728,23470,52728

In [50]:
data.head()

,INVOICE_ID,INVOICE_DATE,PART_NUMBER,SERVICE,PART_NAME,SALES_MODEL
0,U370/9670114009-3350006692,2020-06-17,5O7126,Drivetrain-Brakes-Rebuild,Screen Filters,289Y
1,M060/M060-3073812939,2020-04-30,3N6968,Drivetrain-Brakes-Rebuild,Gaskets,289Y
2,U370/9670558168-3300504198,2021-07-20,1U0931,Drivetrain-Brakes-Rebuild,"Seals, Gaskets, and O-Rings",289Y
3,W700/CTS33550363,2020-08-14,0L0181,Drivetrain-Axle-Rebuild,Bolts and Screws,488V
4,C090/7F87195,2022-04-30,30K3389,Engine-Injector Group-Rebuild,NaN,W70M

In [51]:
data.isna().sum()

INVOICE_ID         0
INVOICE_DATE       0
PART_NUMBER        0
SERVICE            0
PART_NAME       1024
SALES_MODEL        0
dtype: int64

In [52]:
data.dropna(inplace=True)

In [53]:
data.drop(columns=["SERVICE"], inplace=True)

In [54]:
data.drop(columns=["PART_NUMBER"], inplace=True)

In [55]:
data.drop(columns=["INVOICE_DATE"], inplace=True)

In [56]:
data.head()

                   INVOICE_ID                      PART_NAME SALES_MODEL
0  U370/9670114009-3350006692                 Screen Filters        289Y
1        M060/M060-3073812939                        Gaskets        289Y
2  U370/9670558168-3300504198    Seals, Gaskets, and O-Rings        289Y
3            W700/CTS33550363               Bolts and Screws        488V
5           E050/003503232507  Kit - Drivetrain and Steering        289Y

In [57]:
for id, order in data.iterrows():
    if 'and' in order["PART_NAME"]:
        order["PART_NAME"] = order["PART_NAME"].replace(', and', ',')
    # order["PART_NAME"] = order["PART_NAME"].replace(' ', '')
    order["PART_NAME"] = order["PART_NAME"].split(',')
    order["PART_NAME"] = [x.strip() for x in order["PART_NAME"] if x!='' and x!=' ']

In [58]:
data.head()

                   INVOICE_ID                     PART_NAME SALES_MODEL
0  U370/9670114009-3350006692              [Screen Filters]        289Y
1        M060/M060-3073812939                     [Gaskets]        289Y
2  U370/9670558168-3300504198     [Seals, Gaskets, O-Rings]        289Y
3            W700/CTS33550363               [Bolts, Screws]        488V
5           E050/003503232507  [Kit - Drivetrain, Steering]        289Y

In [59]:
newData = pd.DataFrame(columns=data.columns)

for _, order in data.iterrows():
    if not (newData["INVOICE_ID"] == order["INVOICE_ID"]).any():
        newData = pd.concat([pd.DataFrame([order], columns=data.columns), newData], ignore_index=True)
    else:
        invoice_id = order["INVOICE_ID"]
        parts = newData.loc[newData["INVOICE_ID"] == invoice_id, "PART_NAME"].tolist()
        parts = parts[0]
        for part in order["PART_NAME"]:
            if part not in parts:
                parts.append(part)
        newData.loc[newData["INVOICE_ID"] == invoice_id, "PART_NAME"] = [sorted(parts)]
        # print(parts)

In [60]:
newData

,INVOICE_ID,PART_NAME,SALES_MODEL
0,R530/823396,"[Kit - Drivetrain, Steering]",289Y
1,U010/YX77258,[Grease],665
2,C360/0079426,[Grease],665
3,C730/ZX00345,[Grease],665
4,U370/9670135921-3300689042,"[Kit - Drivetrain, Steering]",289Y
...,...,...,...
21185,E050/003503232507,"[Kit - Drivetrain, Steering]",289Y
21186,W700/CTS33550363,"[Bolts, Breathers, Clamps, Clips, Driveshafts,...",488V
21187,U370/9670558168-3300504198,"[Bearings, Breathers, Clamps, Clips, DT Valve ...",289Y
21188,M060/M060-3073812939,"[Bolts, Caps, Fasteners Studs, Gaskets, Hose a...",289Y
21189,U370/9670114009-3350006692,"[Accumulators, Breathers, Dryers, Dust Ejector...",289Y

In [61]:
newData.drop(columns=["INVOICE_ID"], inplace=True)

In [62]:
newData.describe()

                  PART_NAME SALES_MODEL
count                 21190       21190
unique                 3166           8
top     [Kit - Maintenance]        289Y
freq                   3858       10944